
html{

    font-size: 8px;

}

.profile-ui{
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    background-color: rgb(242, 197, 112);
    align-items: center;
    padding: 2rem;
}
 

.profile_photo{

    border-radius: 2rem;

    width: 4rem;

    height:4rem;

    background-color:#17252a;
    margin-left: 1rem;

}


.userDetails{
display: flex;
flex-direction: column;
padding:1rem;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size:1rem;
color:black;

}


form{

    background-color: rgb(65, 162, 65);
    border-radius: 0.5rem   ;
    padding: 2rem;
    margin-top: 5rem;

}

input{


    padding: 1rem;
    border-radius: 0.25rem;
    margin: 1rem;


}


button{

    display: inline-block;
    background-color: rgb(47, 47, 92);
    padding: 0.5rem;
    color: white;
}