
html{
    font-size: 8px;



}

h1{

    font-size: 2rem;
    background-color: #e4e471;
    color: black;
    text-align: center;


}


button {

    background-color: Green;
    color:white;
    text-align: center;



}